index.jade
doctype
html(lang="en")
head
	meta(charset="UTF-8")
	title todo-webapp
	meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0")
	link(rel="stylesheet", href="assets/css/base.css")
	link(rel="stylesheet", href="assets/css/main.css")
	link(rel="stylesheet", href="assets/vendor/pure.min.css")
body
	header
		div.pure-g
			.pure-u-1-3
			.pure-u-1-3.tc Todo App
			.pure-u-1-3
	main
		.container
			form.pure-form
				fieldset
					.pure-g
						.pure-u-2-3
							input(placeholder="Create your task !")
						.pure-u-1-3
							button.pure-button.pure-button-primary(type="submit") Create
			h4 These are things you're going to do
			ul.taskList
				li
					label.pure-checkbox(for="option-1")
						input#option-1(type="checkbox",value="")
						span.task Here is task 1
				li
					label.pure-checkbox(for="option-2")
						input#option-2(type="checkbox",value="")
						span.task Here is task 2
			h4 These are things you've finished
			ul.taskList.finished
				li
					label.pure-checkbox(for="option-1")
						input#option-1(type="checkbox",value="",checked)
						del.task Here is task 1
				li
					label.pure-checkbox(for="option-2")
						input#option-2(type="checkbox",value="",checked)
						del.task Here is task 2

index.html
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <title>todo-webapp</title>
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/base.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/vendor/pure.min.css">
</head>
<body>
  <header>
    <div class="pure-g">
      <div class="pure-u-1-3"></div>
      <div class="pure-u-1-3 tc">Todo App</div>
      <div class="pure-u-1-3"></div>
    </div>
  </header>
  <main>
    <div class="container">
      <form class="pure-form">
        <fieldset>
          <div class="pure-g">
            <div class="pure-u-2-3">
              <input placeholder="Create your task !">
            </div>
            <div class="pure-u-1-3">
              <button type="submit" class="pure-button pure-button-primary">Create</button>
            </div>
          </div>
        </fieldset>
      </form>
      <h4>These are things you're going to do</h4>
      <ul class="taskList">
        <li>
          <label for="option-1" class="pure-checkbox">
            <input id="option-1" type="checkbox" value=""><span class="task">Here is task 1</span>
          </label>
        </li>
        <li>
          <label for="option-2" class="pure-checkbox">
            <input id="option-2" type="checkbox" value=""><span class="task">Here is task 2</span>
          </label>
        </li>
      </ul>
      <h4>These are things you've finished</h4>
      <ul class="taskList finished">
        <li>
          <label for="option-1" class="pure-checkbox">
            <input id="option-1" type="checkbox" value="" checked>
            <del class="task">Here is task 1</del>
          </label>
        </li>
        <li>
          <label for="option-2" class="pure-checkbox">
            <input id="option-2" type="checkbox" value="" checked>
            <del class="task">Here is task 2</del>
          </label>
        </li>
      </ul>
    </div>
  </main>
</body>
